@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf");
  font-weight: 700;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}

body {
  font-family: "Lato";
  font-size: 14px;
  @media only screen and (min-width: 768px) {
    font-size: 22px;
  }
}

h4 {
  font-size: 20px;
  @media only screen and (min-width: 768px) {
    font-size: 40px;
  }
}

h6 {
  font-size: 18px;
  @media only screen and (min-width: 768px) {
    font-size: 22px;
  }
}