footer {
  background-color: var(--color-black);
  color: var(--color-white);
  .container, .links {
    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  a {
    color: var(--color-white); 
    font-size: 12px;
    line-height: 30px;
    @media only screen and (min-width: 768px) {
      font-size: 18px;
      line-height: 40px;
    }
  }
  h6 {
    margin: 0 0 1em 0
  }
}