.slide {
  position: relative;
  height: 638px;
  display: flex !important;
  background-color: var(--color-accent);
  h1, p {
    color: var(--color-primary);
    @media only screen and (max-width: 768px) {
      color: var(--color-primary) !important;
    }
  }
}

.slide--wrapper {
  display: inline-block;
}
.slider--img {
  height: 100%;
  width: 100vw;

  object-fit: cover;
  @media only screen and (min-width: 768px) {
    position: absolute;
  }
}
.slider--content {
  position: relative;
  z-index: 2;
  @media only screen and (max-width: 768px) {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* Dots */
.slick-dots {
  bottom: 220px !important;
  @media only screen and (min-width: 768px) {
  bottom: 20px !important;
  }
  li button:before {
    font-size: 14px !important;
    @media only screen and (min-width: 768px) {
    font-size: 19px !important;
    }
    color: var(--color-white) !important;
  }
}